{% extends 'base.html' %}

{% block head %}
<title>Forgot password</title>
<style>
    .login-row {
        min-height: 80vh;
        padding: 100px 0;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 login-row">
            <div class="col-12">
                {% if status == 'success' %}
                    <div class="alert alert-success" role="alert">
                      Link for password is sent to your email!
                    </div>
                {% endif %}

                {% if status == 'failed' %}
                    <div class="alert alert-danger" role="alert">
                      Something went wrong!
                    </div>
                {% endif %}
                <form name="forgot_password" method="POST" novalidate>
                    <h2>Forgot Password</h2>
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="field-wrapper mt-4">
                        {{ field.label_tag }} {{ field }}
                        <div class="text-danger">
                            {{ field.errors }}
                        </div>
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary d-block col-12 mt-4" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}