{% extends 'base.html' %}

{% block head %}
<title>Settings page</title>
<style>
        .image_input {
            width: 0;
            height: 0;
            overflow: hidden;
        }
        .image-wrapper {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #E8E8E8;
            overflow: hidden;
        }

        .image-wrapper img {
            object-fit: cover;
            z-index: 2;
            width: 100%;
            height: 100%;
        }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% include 'header.html' %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 my-4">
            <div class="col-12">
                <form method="POST" enctype="multipart/form-data">
                    <h2>Edit your profile</h2>
                    {% csrf_token %}
                    <div class="field-wrapper">
                        <label for="id_avatar">
                            <div class="image-wrapper" id="image-wrapper">
                                {% if profile.avatar %}
                                <img src="{{ profile.avatar.url }}" id="image-content"/>
                                {% endif %}
                            </div>
                            <input id="id_avatar" type="file" name="avatar" accept="image/*" class="image_input"/>
                        </label>
                        <div class="text-danger">
                            {{ form.avatar.errors }}
                        </div>
                    </div>
                    <div class="field-wrapper">
                        {{ form.bio.label_tag }} {{ form.bio }}
                        <div class="text-danger">
                            {{ form.bio.errors }}
                        </div>
                    </div>
                    <div>
                        <label for="id_resume" class="form-label">Upload your resume here:</label>
                        <input name="resume" class="form-control" type="file" id="id_resume"
                               accept="application/pdf,application/vnd.ms-excel">
                        {{ form.resume.errors }}
                        {% if profile.resume %}
                        <a href="{{ profile.resume.url }}" target="_blank">Download</a>
                        {% endif %}
                    </div>
                    <button class="btn btn-primary d-block col-12 mt-2" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const imageInput = document.getElementById("id_avatar");
    if (imageInput) {
          imageInput.onchange = evt => {
            const [file] = imageInput.files;
            if (file) {
                const newURL = URL.createObjectURL(file);
                const imageElement = document.getElementById('image-content');
                if (imageElement) {
                    imageElement.src = newURL;
                } else {
                    const wrapper = document.getElementById('image-wrapper');
                    const newImageElement = document.createElement('IMG');
                    newImageElement.src = newURL;
                    newImageElement.id = 'image-content';
                    wrapper.appendChild(newImageElement);
                }
            }
        }
    }

</script>
{% endblock %}
